<div class="text-white rounded shadow-lg flex flex-col gap-5">
    <!-- Title  -->
    <div class="flex justify-between items-center">
        <div class="flex justify-between items-center gap-2">
            <i class="pi pi-users" style="font-size: 2rem"></i>
            <h2 class="text-2xl">Clients</h2>
        </div>
        <div class="flex gap-5 items-center">
            <p-iftalabel class="w-full min-w-62.5">
                <input pInputText (input)="onSearch($event)" id="admin-user-search-topbar-box" placeholder="Search User" class="min-w-70">
                <label for="admin-user-search-topbar-box">Name | Email | Address(city) | Phone</label>
            </p-iftalabel>
            <!-- Add User -->
            <!-- <div class="w-10 h-10 rounded-full border border-gray-300 hover:border-green-500 bg-white hover:bg-red-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group relative"
                (click)="handleAddUser()" pTooltip="Add User" tooltipPosition="bottom"
                tooltipStyleClass="custom-tooltip">
                <i
                    class="pi pi-plus text-gray-600 group-hover:text-green-600 text-lg active:scale-90 transition-all duration-200">
                </i>
            </div> -->
        </div>
    </div>

    <!-- Tabs -->
    <div class="card rounded-lg">
        <p-tabs value="0">
            <p-tablist>
                <!-- ALL -->
                <p-tab value="0" (click)="onTabChange(0)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        All
                        <p-chip class="px-3 py-1 rounded-full text-sm font-semibold" [style]="{
                    backgroundColor: '#E0F2FE',
                    color: '#0369A1'
                }">
                            {{ paginatorState().TotalCount }}
                        </p-chip>
                    </span>
                </p-tab>

                <!-- ACTIVE -->
                <p-tab value="1" (click)="onTabChange(1)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        Active
                        <p-chip class="px-3 py-1 rounded-full text-sm font-semibold" [style]="{
                    backgroundColor: '#DCFCE7',
                    color: '#15803D'
                }">
                            {{ paginatorState().ActiveCount }}
                        </p-chip>
                    </span>
                </p-tab>

                <!-- BLOCKED -->
                <p-tab value="2" (click)="onTabChange(2)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        Blocked
                        <p-chip class="px-3 py-1 rounded-full text-sm font-semibold" [style]="{
                    backgroundColor: '#FEE2E2',
                    color: '#B91C1C'
                }">
                            {{ paginatorState().BlockedCount }}
                        </p-chip>
                    </span>
                </p-tab>

            </p-tablist>
        </p-tabs>

        <div class="card">
            @if(!isPageLoad() && userList().length == 0) {
            <div class="min-h-50dvh flex justify-center items-center">
                Welcome! Please come back after users added.
            </div>
            } @else if(isPageLoad()) {
            <p-table [value]="userList()" [tableStyle]="{ 'min-width': '40rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th class="flex justify-center">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td class="flex justify-center items-center gap-2">
                            <p-skeleton shape="circle" size="2rem"></p-skeleton>
                            <p-skeleton shape="circle" size="2rem"></p-skeleton>
                            <p-skeleton shape="circle" size="2rem"></p-skeleton>
                            <p-skeleton shape="circle" size="2rem"></p-skeleton>
                            <p-skeleton shape="circle" size="2rem"></p-skeleton>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
            } @else {
            <p-table [value]="userList()" [tableStyle]="{ 'min-width': '50rem' }">

                <!-- Header -->
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>

                <!-- Body -->
                <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.address }}</td>
                        <td class="flex justify-start gap-2">
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-blue-500 bg-white hover:bg-red-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group relative"
                                (click)="openDialog('view',user)" pTooltip="View Client" tooltipPosition="bottom"
                                tooltipStyleClass="custom-tooltip">
                                <i class="pi pi-eye text-gray-600 group-hover:text-blue-600 active:scale-90 transition-all duration-200"
                                    style="font-size: 0.75rem;">
                                </i>
                            </span>
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-blue-500 bg-white hover:bg-red-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group relative"
                                (click)="openDialog('update',user)" pTooltip="Update Details" tooltipPosition="bottom"
                                tooltipStyleClass="custom-tooltip">
                                <i class="pi pi-user-edit text-gray-600 group-hover:text-blue-600 active:scale-90 transition-all duration-200"
                                    style="font-size: 0.75rem;">
                                </i>
                            </span>
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-orange-500 bg-white hover:bg-red-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group relative"
                                (click)="openDialog('password',user)" pTooltip="Update Password"
                                tooltipPosition="bottom" tooltipStyleClass="custom-tooltip">
                                <i class="pi pi-key text-gray-600 group-hover:text-orange-600 active:scale-90 transition-all duration-200"
                                    style="font-size: 0.85rem;">
                                </i>
                            </span>
                            @if (user.status==1) {
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-red-500 bg-white hover:bg-red-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group relative"
                                (click)="openDialog('block',user)" pTooltip="Lock Access" tooltipPosition="bottom"
                                tooltipStyleClass="custom-tooltip">
                                <i class="pi pi-unlock text-green-600 group-hover:text-red-600 active:scale-90 transition-all duration-200"
                                    style="font-size: 0.75rem;">
                                </i>
                            </span>
                            } @else {
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-green-500 bg-white hover:bg-red-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group relative"
                                (click)="openDialog('unblock',user)" pTooltip="Unlock Access" tooltipPosition="bottom"
                                tooltipStyleClass="custom-tooltip">
                                <i class="pi pi-lock text-red-600 group-hover:text-green-600 active:scale-90 transition-all duration-200"
                                    style="font-size: 0.75rem;">
                                </i>
                            </span>
                            }
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-blue-500 bg-white hover:bg-red-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group relative"
                                (click)="openDialog('borrow',user)" pTooltip="View Borrows" tooltipPosition="bottom"
                                tooltipStyleClass="custom-tooltip">
                                <i class="pi pi-receipt text-gray-600 group-hover:text-blue-600 active:scale-90 transition-all duration-200"
                                    style="font-size: 0.85rem;">
                                </i>
                            </span>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
            }


            <!-- Pagination -->
            <div class="flex justify-center items-center gap-5 mt-5">
                <div class=" flex justify-center items-center size-8 rounded-full cursor-pointer hover:border hover:border-zinc-400 active:scale-90 transition-all duration-200 ease-in-out"
                    pTooltip="First Page" tooltipPosition="left" tooltipStyleClass="custom-tooltip"
                    (click)="goToFirstPage()">
                    <i class="pi pi-angle-double-left"></i>
                </div>
                <div class=" flex justify-center items-center size-8 rounded-full cursor-pointer hover:border hover:border-zinc-400 active:scale-90 transition-all duration-200 ease-in-out"
                    (click)="goToPreviousPage()">
                    <i class="pi pi-angle-left"></i>
                </div>
                <div class="px-5">
                    {{paginatorState().PageNo}}
                </div>
                <div class=" flex justify-center items-center size-8 rounded-full cursor-pointer hover:border hover:border-zinc-400 active:scale-90 transition-all duration-200 ease-in-out"
                    (click)="goToNextPage()">
                    <i class="pi pi-angle-right"></i>
                </div>
                <div class=" flex justify-center items-center size-8 rounded-full cursor-pointer hover:border hover:border-zinc-400 active:scale-90 transition-all duration-200 ease-in-out"
                    pTooltip="Last Page" tooltipPosition="right" tooltipStyleClass="custom-tooltip"
                    (click)="goToLastPage()">
                    <i class="pi pi-angle-double-right"></i>
                </div>
                <div class="flex gap-2 items-center">
                    <p-select [options]="[5, 10, 25, 50]" [ngModel]="paginatorState().RowCount"
                        (ngModelChange)="OnRowChange($event)" class="w-full" /> Rows
                </div>
            </div>
        </div>
    </div>


    <!-- Dialog -->
    <div class="card flex justify-center">
        <p-dialog [modal]="true" [visible]="dialogState().visible" (onHide)="closeDialog()"
            [style]="{ minWidth: '20rem' }"
            [header]="dialogState().type? dialogState().type.charAt(0).toUpperCase() + dialogState().type.slice(1): 'Header'">

            <div *ngIf="dialogState().data as user">

                @switch (dialogState().type) {

                @case ('view') {

                <div class="flex items-center justify-between border-b border-zinc-500 pb-2">
                    <div class="flex gap-4">
                        @if(user.status==1){
                        <b class="p-1 bg-green-500 items-center rounded-full"></b>
                        }@else{
                        <b class="p-1 bg-red-500 rounded-full"></b>
                        }
                        <span>{{ user.name }}</span>
                    </div>
                    <p-avatar shape="circle" class="p-2" size="large">
                        <i class="pi pi-user"></i>
                    </p-avatar>
                </div>

                <div class="flex items-center gap-4 mb-4 pt-4">
                    <div>
                        @if (user.gender=="Male") {
                        <i class="pi pi-mars"></i>
                        } @else if (user.gender=="Female") {
                        <i class="pi pi-venus"></i>
                        } @else {
                        <i class="pi pi-users"></i>
                        }
                    </div>
                    <span>{{ user.gender }}</span>
                </div>

                <div class="flex items-center gap-4 mb-4">
                    <i class="pi pi-envelope"></i>
                    <span>{{ user.email }}</span>
                </div>

                <div class="flex items-center gap-4 mb-4">
                    <i class="pi pi-phone"></i>
                    <span>{{ user.phone }}</span>
                </div>

                <div class="flex items-center gap-4 mb-4">
                    <i class="pi pi-map-marker"></i>
                    <span>{{ user.address }}</span>
                </div>

                <div class="flex items-center gap-4 mb-4">
                    <i class="pi pi-sign-in"></i>
                    <span>{{ user.createdAt | date:'dd MMM yyyy' }}</span>
                </div>

                <div class="flex justify-end">
                    <p-button label="Close" severity="secondary" (click)="closeDialog()" />
                </div>

                }

                @case ('update') {
                <div class="flex flex-col items-center gap-2">
                    <p-iftalabel class="w-full min-w-62.5">
                        <input pInputText id="dialog_user_update_name_label" [(ngModel)]="user.name" autocomplete="off"
                            class="w-full" />
                        <label for="dialog_user_update_name_label">Name</label>
                    </p-iftalabel>

                    <p-iftalabel class="w-full min-w-62.5">
                        <p-select id="dialog_user_update_gender_label" [options]="genders"
                            [ngModel]="user.gender ?? undefined" (ngModelChange)="user.gender = $event"
                            placeholder="Select Gender" class="w-full" />
                        <label for="dialog_user_update_gender_label">Gender</label>
                    </p-iftalabel>


                    <p-iftalabel class="w-full min-w-62.5">
                        <input pInputText id="dialog_user_update_phone_label" [(ngModel)]="user.phone"
                            autocomplete="off" class="w-full" />
                        <label for="dialog_user_update_phone_label">Phone</label>
                    </p-iftalabel>
                    <div class="flex justify-end w-full min-w-62.5 mt-2 gap-4">
                        <p-button label="Cancel" severity="secondary" (click)="cancelDialog()" />
                        <p-button label="Update" severity="success" (click)="handleUpdateUser(user)" />
                    </div>
                </div>
                }

                @case ('password') {
                <div>
                    <p-iftalabel class="w-full min-w-62.5">
                        <input pInputText id="dialog_user_password_change_label" [(ngModel)]="password"
                            autocomplete="off" class="w-full" />
                        <label for="dialog_user_password_change_label">Password</label>
                    </p-iftalabel>

                    <div class="flex justify-end w-full min-w-62.5 mt-2 gap-4">
                        <p-button label="Cancel" severity="secondary" (click)="closeDialog()" />
                        <p-button label="Update" severity="success" (click)="handleUpdatePassword(user)" />
                    </div>
                </div>
                }

                @case ('block') {
                <div class="flex flex-col items-center gap-4 mb-4">
                    <span>Are you sure you want to block {{ user.name }}?</span>
                    <div class="flex justify-end w-full min-w-62.5 mt-2 gap-4">
                        <p-button label="Cancel" severity="secondary" (click)="closeDialog()" />
                        <p-button label="Block" severity="danger" (click)="handleBlockUser(user)" />
                    </div>
                </div>
                }

                @case ('unblock') {
                <div class="flex flex-col items-center gap-4 mb-4">
                    <span>Are you sure you want to unblock {{ user.name }}?</span>
                    <div class="flex justify-end w-full min-w-62.5 mt-2 gap-4">
                        <p-button label="Cancel" severity="secondary" (click)="closeDialog()" />
                        <p-button label="UnBlock" severity="success" (click)="handleUnBlockUser(user)" />
                    </div>
                </div>
                }

                @case ('borrow') {
                <div class="flex items-center gap-4 mb-4">
                    <span>Borrow history of {{ user.name }}</span>
                </div>
                }

                }

            </div>
        </p-dialog>
    </div>
</div>