<div class="text-white rounded shadow-lg flex flex-col gap-5">

    <!-- 🔹 HEADER -->
    <div class="flex justify-between items-center">
        <header class="flex items-center gap-3">
            <i class="pi pi-receipt text-xl text-primary"></i>
            <h3 class="text-2xl font-semibold">
                Borrows
            </h3>
        </header>

        <div class="flex gap-5 items-center">

            <!-- Search -->
            <p-iftalabel class="w-full min-w-62.5">
                <input pInputText (input)="onSearch($event)" placeholder="Search borrow..." class="min-w-70" />
                <label>Search by user | equipment</label>
            </p-iftalabel>
        </div>
    </div>

    <div>
        <!-- Tabs -->
        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0" (click)="onStatusTab(0)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        All
                        <span class="px-2 py-1 text-xs font-semibold rounded-md"
                            [style.background]="getChip('slate').background" [style.color]="getChip('slate').color">
                            {{ paginatorState().TotalCount || 0 }}
                        </span>
                    </span>
                </p-tab>
                <p-tab value="1" (click)="onStatusTab(1)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        Requested
                        <span class="px-2 py-1 text-xs font-semibold rounded-md"
                            [style.background]="getBorrowStatusChip(BorrowStatus[1]).background"
                            [style.color]="getBorrowStatusChip(BorrowStatus[1]).color">
                            {{ Counts().Requested || 0 }}
                        </span>
                    </span>
                </p-tab>
                <p-tab value="2" (click)="onStatusTab(2)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        Accepted
                        <span class="px-2 py-1 text-xs font-semibold rounded-md"
                            [style.background]="getBorrowStatusChip(BorrowStatus[2]).background"
                            [style.color]="getBorrowStatusChip(BorrowStatus[2]).color">
                            {{ Counts().Accepted || 0 }}
                        </span>
                    </span>
                </p-tab>
                <p-tab value="3" (click)="onStatusTab(3)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        Assigned
                        <span class="px-2 py-1 text-xs font-semibold rounded-md"
                            [style.background]="getBorrowStatusChip(BorrowStatus[3]).background"
                            [style.color]="getBorrowStatusChip(BorrowStatus[3]).color">
                            {{ Counts().Assigned || 0 }}
                        </span>
                    </span>
                </p-tab>
                <p-tab value="4" (click)="onStatusTab(4)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        Pending
                        <span class="px-2 py-1 text-xs font-semibold rounded-md"
                            [style.background]="getBorrowStatusChip(BorrowStatus[4]).background"
                            [style.color]="getBorrowStatusChip(BorrowStatus[4]).color">
                            {{ Counts().Pending || 0 }}
                        </span>
                    </span>
                </p-tab>
                <p-tab value="5" (click)="onStatusTab(5)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        Paid
                        <span class="px-2 py-1 text-xs font-semibold rounded-md"
                            [style.background]="getBorrowStatusChip(BorrowStatus[5]).background"
                            [style.color]="getBorrowStatusChip(BorrowStatus[5]).color">
                            {{ Counts().Paid || 0 }}
                        </span>
                    </span>
                </p-tab>
                <p-tab value="6" (click)="onStatusTab(6)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        Approved
                        <span class="px-2 py-1 text-xs font-semibold rounded-md"
                            [style.background]="getBorrowStatusChip(BorrowStatus[6]).background"
                            [style.color]="getBorrowStatusChip(BorrowStatus[6]).color">
                            {{ Counts().Approved || 0 }}
                        </span>
                    </span>
                </p-tab>
                <p-tab value="7" (click)="onStatusTab(7)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        Waitlisted
                        <span class="px-2 py-1 text-xs font-semibold rounded-md"
                            [style.background]="getBorrowStatusChip(BorrowStatus[7]).background"
                            [style.color]="getBorrowStatusChip(BorrowStatus[7]).color">
                            {{ Counts().Waitlisted || 0 }}
                        </span>
                    </span>
                </p-tab>
                <p-tab value="8" (click)="onStatusTab(8)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        Ack
                        <span class="px-2 py-1 text-xs font-semibold rounded-md"
                            [style.background]="getBorrowStatusChip(BorrowStatus[8]).background"
                            [style.color]="getBorrowStatusChip(BorrowStatus[8]).color">
                            {{ Counts().Ack || 0 }}
                        </span>
                    </span>
                </p-tab>
                <p-tab value="9" (click)="onStatusTab(9)">
                    <span class="flex items-center gap-2 text-lg font-medium">
                        Closed
                        <span class="px-2 py-1 text-xs font-semibold rounded-md"
                            [style.background]="getBorrowStatusChip(BorrowStatus[9]).background"
                            [style.color]="getBorrowStatusChip(BorrowStatus[9]).color">
                            {{ Counts().Closed || 0 }}
                        </span>
                    </span>
                </p-tab>
            </p-tablist>
        </p-tabs>

        <!-- Skeleton Table -->
        @if (isLoading() == true) {
        <p-table>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-left">ID</th>
                    <th class="text-left">User Name</th>
                    <th class="text-center">Equipment Count</th>
                    <th class="text-right">Total Price</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">Expected Return</th>
                    <th class="text-center">Actual Return</th>
                    <th class="text-center">Duration</th>
                    <th class="text-center">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                </tr>
            </ng-template>
        </p-table>
        }

        <!-- Empty Table -->
        @else if (borrowList().length == 0) {
        <div>
            <p-table>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-left">ID</th>
                        <th class="text-left">User Name</th>
                        <th class="text-center">Equipment Count</th>
                        <th class="text-right">Total Price</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">Expected Return</th>
                        <th class="text-center">Actual Return</th>
                        <th class="text-center">Duration</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </ng-template>
            </p-table>
            <div class="flex justify-center items-center min-h-[30dvh] bg-charcoal">
                <span class="text-2xl">Oops! No Borrows found</span>
            </div>
        </div>
        }

        <!-- Data Table -->
        @else {
        <p-table [value]="borrowList()">
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-left">ID</th>
                    <th class="text-left">User Name</th>
                    @if (paginatorState().Status == 0) {
                    <th class="flex justify-center">Status</th>
                    }
                    <th class="text-center">No Equipment</th>
                    <th class="text-right">Total Price</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">Expected Return</th>
                    <th class="text-center">Actual Return</th>
                    <th class="text-center">Duration</th>
                    <th class="text-center">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-b let-i="rowIndex">
                <tr>
                    <td class="text-center">{{ getIndex() + i + 1 }}</td>
                    <td class="text-left">{{ b.id }}</td>
                    <td class="text-left">{{ b.userName }}</td>
                    @if (paginatorState().Status == 0) {
                    <td class="flex justify-center">
                        <span class="px-2 py-1 text-xs font-semibold rounded-md"
                            [style.background]="getBorrowStatusChip(BorrowStatus[b.status]).background"
                            [style.color]="getBorrowStatusChip(BorrowStatus[b.status]).color">
                            {{ BorrowStatus[b.status]}}
                        </span>
                    </td>
                    }
                    <td class="text-center">{{ b.equipmentCounts }}</td>
                    <td class="text-right">{{ b.totalPrice | currency: 'INR' }}</td>
                    <td class="text-center whitespace-nowrap">{{ b.startDate | date }}</td>
                    <td class="text-center whitespace-nowrap">{{ b.expectedReturnDate | date}}</td>
                    <td class="text-center whitespace-nowrap">
                        @if(b.actualReturnDate){
                        <span>{{ b.actualReturnDate | date:'MMM d, yyyy h:mm a' }}</span>
                        } @else {
                        <span class="text-gray-600">null</span>
                        }
                    </td>
                    <td class="text-center">{{ getDuration(b.startDate, b.expectedReturnDate) }}</td>
                    <td class="">
                        <div class="flex justify-start gap-2">
                            <!-- View -->
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-blue-400 bg-white hover:bg-blue-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group"
                                pTooltip="View" tooltipPosition="bottom" tooltipStyleClass="custom-tooltip"
                                (click)="handleViewBorrow(b.id)">
                                <i class="pi pi-eye text-gray-600 group-hover:text-blue-600 transition-all duration-200"
                                    style="font-size: 0.85rem;">
                                </i>
                            </span>

                            <!-- Accept -->
                            @if (b.status==1) {
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-green-500 bg-white hover:bg-blue-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group"
                                pTooltip="Accept" tooltipPosition="bottom" tooltipStyleClass="custom-tooltip"
                                (click)="handleAcceptBorrow(b.id, b.userId)">
                                <i class="pi pi-check text-gray-600 group-hover:text-green-600 transition-all duration-200"
                                    style="font-size: 0.85rem;">
                                </i>
                            </span>
                            }

                            <!-- Make Payment -->
                            @if (b.status==4){
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-green-500 bg-white hover:bg-blue-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group"
                                pTooltip="Make Payment" tooltipPosition="bottom" tooltipStyleClass="custom-tooltip"
                                (click)="handlePaymentBorrow(b)">
                                <i class="pi pi-indian-rupee text-gray-600 group-hover:text-green-600 transition-all duration-200"
                                    style="font-size: 0.85rem;">
                                </i>
                            </span>
                            }

                            <!-- Approve -->
                            @if (b.status==5 || b.status==8 ){
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-green-900 bg-white hover:bg-blue-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group"
                                pTooltip="Approve" tooltipPosition="bottom" tooltipStyleClass="custom-tooltip"
                                (click)="handleApproveBorrow(b)">
                                <i class="pi pi-verified text-gray-600 group-hover:text-green-950 transition-all duration-200"
                                    style="font-size: 0.85rem;">
                                </i>
                            </span>
                            }

                            <!-- Waitlist -->
                            @if (b.status==5 || b.status==8){
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-red-500 bg-white hover:bg-blue-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group"
                                pTooltip="Waitlist" tooltipPosition="bottom" tooltipStyleClass="custom-tooltip"
                                (click)="handleWaitlistBorrow(b)">
                                <i class="pi pi-pause-circle text-gray-600 group-hover:text-red-600 transition-all duration-200"
                                    style="font-size: 0.85rem;">
                                </i>
                            </span>
                            }

                            <!-- Close -->
                            @if (b.status==1||b.status==7||b.status==8){
                            <span
                                class="size-6 rounded-full border border-gray-300 hover:border-red-500 bg-white hover:bg-blue-50 flex items-center justify-center cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md group"
                                pTooltip="Close" tooltipPosition="bottom" tooltipStyleClass="custom-tooltip"
                                (click)="handleCloseBorrow(b)">
                                <i class="pi pi-times-circle text-gray-600 group-hover:text-red-600 transition-all duration-200"
                                    style="font-size: 0.85rem;">
                                </i>
                            </span>
                            }
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        }
    </div>

    <div class="flex justify-center items-center gap-5 mt-5">
        <div class=" flex justify-center items-center size-8 rounded-full cursor-pointer hover:border hover:border-zinc-400 active:scale-90 transition-all duration-200 ease-in-out"
            pTooltip="First Page" tooltipPosition="left" tooltipStyleClass="custom-tooltip" (click)="goToFirstPage()">
            <i class="pi pi-angle-double-left"></i>
        </div>
        <div class=" flex justify-center items-center size-8 rounded-full cursor-pointer hover:border hover:border-zinc-400 active:scale-90 transition-all duration-200 ease-in-out"
            (click)="goToPreviousPage()">
            <i class="pi pi-angle-left"></i>
        </div>
        <div class="px-5">
            {{paginatorState().PageNo}}
        </div>
        <div class=" flex justify-center items-center size-8 rounded-full cursor-pointer hover:border hover:border-zinc-400 active:scale-90 transition-all duration-200 ease-in-out"
            (click)="goToNextPage()">
            <i class="pi pi-angle-right"></i>
        </div>
        <div class=" flex justify-center items-center size-8 rounded-full cursor-pointer hover:border hover:border-zinc-400 active:scale-90 transition-all duration-200 ease-in-out"
            pTooltip="Last Page" tooltipPosition="right" tooltipStyleClass="custom-tooltip" (click)="goToLastPage()">
            <i class="pi pi-angle-double-right"></i>
        </div>
        <div class="flex gap-2 items-center">
            <p-select [options]="[5, 10, 25, 50]" [ngModel]="paginatorState().RowCount"
                (ngModelChange)="onRowChange($event)" class="w-full" /> Rows
        </div>
        <div>
            Showing :
            {{ (paginatorState().PageNo - 1) * paginatorState().RowCount + 1 }}
            -
            {{
            Math.min(
            paginatorState().PageNo * paginatorState().RowCount,
            paginatorState().TotalCount
            )
            }}
            of {{ paginatorState().TotalCount }}
        </div>
    </div>
</div>

<!-- Accept -->
<p-dialog [(visible)]="Dialog().accept" [modal]="true" [style]="{ width: 'fit' }" header="Accept Borrow">
    <div class="flex flex-col min-w-80 gap-5">
        <p-iftaLabel>
            <textarea pTextarea row="5" cols="50" id="admin_borrows_accept_description"
                [(ngModel)]="acceptPayload().Description" [autoResize]="true">Your request has been reviewed and accepted successfully.
            </textarea>
            <label for="admin_borrows_accept_description">Description</label>
        </p-iftaLabel>
        <div class="flex justify-end">
            <p-button label="Accept" [loading]="isAcceptingBorrow()" [disabled]="isAcceptingBorrow()"
                (click)="acceptBorrowService()" severity="success"></p-button>
        </div>
    </div>
</p-dialog>

<!-- Payment -->
<p-dialog [(visible)]="Dialog().payment" [modal]="true" [style]="{ width: 'fit' }" header=" Collect Cash">
    <div class="flex flex-col min-w-80 gap-5">
        <p-iftaLabel>
            <textarea pTextarea row="5" cols="50" id="admin_borrows_payment_description"
                [(ngModel)]="paymentPayload().Description" [autoResize]="true">
            </textarea>
            <label for="admin_borrows_payment_description">Description</label>
        </p-iftaLabel>
        <p-iftaLabel>
            <input pInputText id="admin_borrows_payment_price" [(ngModel)]="paymentPayload().PaidAmount"
                class="w-full" />
            <label for="admin_borrows_payment_price">Price</label>
        </p-iftaLabel>
        <div class="flex justify-end">
            <p-button label="Make Payment" [loading]="isPaymentProcessing()" [disabled]="isPaymentProcessing()"
                (click)="adminPaymentService()" severity="success"></p-button>
        </div>
    </div>
</p-dialog>

<!-- Approve -->
<p-dialog [(visible)]="Dialog().approve" [modal]="true" [style]="{ width: 'fit' }" header="Approve Borrow">
    <div class="flex flex-col min-w-80 gap-5">
        <p-iftaLabel>
            <textarea pTextarea row="5" cols="50" id="admin_borrows_approve_description"
                [(ngModel)]="approvePayload().Description" [autoResize]="true">
            </textarea>
            <label for="admin_borrows_approve_description">Description</label>
        </p-iftaLabel>
        <div class="flex justify-end">
            <p-button label="Approve" [loading]="isApprrovingBorrow()" [disabled]="isApprrovingBorrow()"
                (click)="approveBorrowService()" severity="success"></p-button>
        </div>
    </div>
</p-dialog>

<!-- Waitlist -->
<p-dialog [(visible)]="Dialog().waitlist" [modal]="true" [style]="{ width: 'fit' }" header="Waitlisting borrow">
    <div class="flex flex-col min-w-80 gap-5">
        <p-iftaLabel>
            <textarea pTextarea row="5" cols="50" id="admin_borrows_waitlist_description"
                [(ngModel)]="waitlistPayload().Description" [autoResize]="true">
            </textarea>
            <label for="admin_borrows_waitlist_description">Description</label>
        </p-iftaLabel>
        <div class="flex justify-end">
            <p-button label="Waitlist" [loading]="isWaitlistingBorrow()" [disabled]="isWaitlistingBorrow()"
                (click)="waitlistBorrowService()" severity="success"></p-button>
        </div>
    </div>
</p-dialog>

<!-- Close -->
<p-dialog [(visible)]="Dialog().close" [modal]="true" [style]="{ width: 'fit' }" header="Closing Borrow">
    <div class="flex flex-col min-w-80 gap-5">
        <p-iftaLabel>
            <textarea pTextarea row="5" cols="50" id="admin_borrows_close_description"
                [(ngModel)]="closePayload().Description" [autoResize]="true">
            </textarea>
            <label for="admin_borrows_close_description">Description</label>
        </p-iftaLabel>
        <div class="flex justify-end">
            <p-button label="Close" [loading]="isClosingBorrow()" [disabled]="isClosingBorrow()"
                (click)="closeBorrowService()" severity="success"></p-button>
        </div>
    </div>
</p-dialog>