# ========================
# Node / JS (ALL APPS)
# ========================
**/node_modules/
**/npm-debug.log
**/yarn-error.log
**/pnpm-debug.log

# ========================
# Build outputs
# ========================
**/dist/
**/build/
**/out/
**/out-tsc/
**/tmp/
**/.angular/cache/

# ========================
# Coverage & logs
# ========================
**/coverage/
**/testem.log
**/libpeerconnection.log

# ========================
# IDEs & Editors
# ========================
.idea/
.project
.classpath
.settings/
.c9/
*.launch
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ========================
# System files
# ========================
.DS_Store
Thumbs.db
