/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --color-charcoal: #18181a;
  --color-custom-gray-850: #18181a;
}

/* Tooltip */
.custom-tooltip {
  font-size: 10px !important;
  padding: 2px 2px !important;
  max-width: 300px !important;
}

.table-tooltip {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Table */
.fixed-table table {
    table-layout: fixed;
    width: 100%;
}
.fixed-table th,
.fixed-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Toaster */

/* Base (Desktop) */
.p-toast .p-toast-message-content {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.p-toast .p-toast-message-icon,
.p-toast .p-toast-icon-close {
  margin-top: 0.25rem;
}

.p-toast .p-toast-text {
  flex: 1;
  min-width: 0; 
}


/* Mobile Fix */
@media (max-width: 576px) {

  .p-toast {
    width: 90vw !important; 
    left: 5% !important;
    right: 5% !important;
  }

  .p-toast .p-toast-message-content {
    gap: 0.5rem;
  }

  .p-toast .p-toast-summary {
    font-size: 0.95rem;
  }

  .p-toast .p-toast-detail {
    font-size: 0.85rem;
  }

}